#### Import pandas and geopandas

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Obtain coordinates.csv

coordinates_file_path = "../data/city/population/coordinates.csv"

df_home_list = pd.read_csv(coordinates_file_path)

df_home_list

             lon        lat building_type
0      -1.564636  53.827001    apartments
1      -1.550490  53.811813    apartments
2      -1.542127  53.781703    apartments
3      -1.623508  53.800694    apartments
4      -1.615872  53.798921    apartments
...          ...        ...           ...
222610 -1.482881  53.826679       terrace
222611 -1.482691  53.826882       terrace
222612 -1.482641  53.826925       terrace
222613 -1.482592  53.826967       terrace
222614 -1.451100  53.823696       terrace

[222615 rows x 3 columns]

#### Obtain geodataframe from shapefile of all wards

In [5]:
#wards_shapefile_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/Wards_(December_2017)_Boundaries_in_the_UK_(WGS84)/Wards_(December_2017)_Boundaries_in_the_UK_(WGS84).shp"

wards_shapefile_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/RE__Wards_boundary_spreadsheet_2020/Wards_May_2020_Boundaries_UK_BGC.shp"

wards_shapes_gdf_full = gpd.read_file(wards_shapefile_path)

wards_shapes_gdf = wards_shapes_gdf_full[["wd20cd","wd20nm","geometry"]].copy()

In [6]:
wards_shapes_gdf

,wd20cd,wd20nm,geometry
0,E05000026,Abbey,"MULTIPOLYGON (((0.08006 51.54477, 0.08597 51.5..."
1,E05000027,Alibon,"POLYGON ((0.15638 51.55102, 0.15649 51.54837, ..."
2,E05000028,Becontree,"POLYGON ((0.12716 51.55561, 0.12494 51.55294, ..."
3,E05000029,Chadwell Heath,"POLYGON ((0.14821 51.59897, 0.14765 51.59679, ..."
4,E05000030,Eastbrook,"POLYGON ((0.18515 51.56478, 0.18399 51.56385, ..."
...,...,...,...
8810,W05001034,Seven Sisters,"POLYGON ((-3.71490 51.77822, -3.71412 51.77773..."
8811,W05001035,Tai-bach,"POLYGON ((-3.73214 51.60008, -3.73222 51.59848..."
8812,W05001036,Broughton South,"POLYGON ((-2.97093 53.16078, -2.97520 53.15742..."
8813,W05001037,Penally,"POLYGON ((-4.72793 51.69934, -4.72527 51.69920..."
8814,W05001038,Tenby: North,"POLYGON ((-4.69715 51.68623, -4.69695 51.68599..."

#### Obtain list of all Leeds wards names

In [25]:
#leeds_wards_list_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/leeds_wards_list.txt"
#with open(leeds_wards_list_path) as f:
#    leeds_wards_names_list = f.read().splitlines()
#leeds_wards_names_list

#leeds_wards_list_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/leeds_wards_list.csv"
leeds_wards_list_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/Leeds_Wards_Population.csv"
leeds_wards_names_df = pd.read_csv(leeds_wards_list_path)
leeds_wards_names_df

    ward_code                    ward_name  population
0   E05011384         Ardsley & Robin Hood       22806
1   E05011385                       Armley       24933
2   E05011387        Bramley & Stanningley       22727
3   E05011388  Burmantofts & Richmond Hill       28308
4   E05011389          Calverley & Farsley       23154
5   E05011390              Chapel Allerton       24280
6   E05011391       Cross Gates & Whinmoor       23120
7   E05011393       Garforth & Swillington       20086
8   E05011394           Gipton & Harehills       32983
9   E05011395            Guiseley & Rawdon       22843
10  E05011396                     Harewood       18335
11  E05011397       Headingley & Hyde Park       32688
12  E05011399          Hunslet & Riverside       28536
13  E05011400       Killingbeck & Seacroft       24658
14  E05011401             Kippax & Methley       21113
15  E05011402                    Kirkstall       21816
16  E05011403    Little London & Woodhouse       35900
17  E05011404               Middleton Park       28562
18  E05011405                     Moortown       22564
19  E05011406                 Morley North       22419
20  E05011407                 Morley South       22448
21  E05011409                       Pudsey       24618
22  E05011410                     Rothwell       20334
23  E05011411                     Roundhay       23191
24  E05011412                Temple Newsam       21217
25  E05011413                     Weetwood       21386
26  E05011414                     Wetherby       20339
27  E05011547                    Horsforth       22273
28  E05011549               Otley & Yeadon       22191
29  E05012647            Beeston & Holbeck       26634
30  E05012648            Farnley & Wortley       24335
31  E05012841            Adel & Wharfedale       19501
32  E05012842                    Alwoodley       22841

#### Manually confirming that all Leeds wards names are in shapefile wards list

In [30]:
wards_names = wards_shapes_gdf["wd20nm"].values
in_list = []
out_list = []
for wname in list(leeds_wards_names_df["ward_name"]):
    if wname in wards_names:
        in_list.append(wname)
    else:
        out_list.append(wname)

print(len(leeds_wards_names_list))
print(len(wards_names))
print(len(in_list))
print(len(out_list))
print(in_list)
print(out_list)

wards_codes = wards_shapes_gdf["wd20cd"].values
in_list = []
out_list = []
for wcode in list(leeds_wards_names_df["ward_code"]):
    if wcode in wards_codes:
        in_list.append(wcode)
    else:
        out_list.append(wcode)

print(len(leeds_wards_names_list))
print(len(wards_codes))
print(len(in_list))
print(len(out_list))
print(in_list)
print(out_list)

33
8815
33
0
['Ardsley & Robin Hood', 'Armley', 'Bramley & Stanningley', 'Burmantofts & Richmond Hill', 'Calverley & Farsley', 'Chapel Allerton', 'Cross Gates & Whinmoor', 'Garforth & Swillington', 'Gipton & Harehills', 'Guiseley & Rawdon', 'Harewood', 'Headingley & Hyde Park', 'Hunslet & Riverside', 'Killingbeck & Seacroft', 'Kippax & Methley', 'Kirkstall', 'Little London & Woodhouse', 'Middleton Park', 'Moortown', 'Morley North', 'Morley South', 'Pudsey', 'Rothwell', 'Roundhay', 'Temple Newsam', 'Weetwood', 'Wetherby', 'Horsforth', 'Otley & Yeadon', 'Beeston & Holbeck', 'Farnley & Wortley', 'Adel & Wharfedale', 'Alwoodley']
[]
33
8815
33
0
['E05011384', 'E05011385', 'E05011387', 'E05011388', 'E05011389', 'E05011390', 'E05011391', 'E05011393', 'E05011394', 'E05011395', 'E05011396', 'E05011397', 'E05011399', 'E05011400', 'E05011401', 'E05011402', 'E05011403', 'E05011404', 'E05011405', 'E05011406', 'E05011407', 'E05011409', 'E05011410', 'E05011411', 'E05011412', 'E05011413', 'E05011414', 'E05011547', 'E05011549', 'E05012647', 'E05012648', 'E05012841', 'E05012842']
[]

#### Pare down wards shapes dataframe into only the relevant wards (ones in Leeds)

In [31]:
leeds_wards_shapes_gdf = wards_shapes_gdf.loc[wards_shapes_gdf['wd20cd'].isin(list(leeds_wards_names_df["ward_code"]))]

In [34]:
leeds_wards_shapes_gdf.shape

(33, 3)

#### Create geodataframe, same as df_home_list but with a geometry column containing Point objects made from lon/lat

In [35]:
gdf_home_list = gpd.GeoDataFrame(df_home_list, geometry=gpd.points_from_xy(df_home_list['lon'], df_home_list['lat']))

In [34]:
gdf_home_list

             lon        lat building_type                   geometry
0      -1.564636  53.827001    apartments  POINT (-1.56464 53.82700)
1      -1.550490  53.811813    apartments  POINT (-1.55049 53.81181)
2      -1.542127  53.781703    apartments  POINT (-1.54213 53.78170)
3      -1.623508  53.800694    apartments  POINT (-1.62351 53.80069)
4      -1.615872  53.798921    apartments  POINT (-1.61587 53.79892)
...          ...        ...           ...                        ...
222610 -1.482881  53.826679       terrace  POINT (-1.48288 53.82668)
222611 -1.482691  53.826882       terrace  POINT (-1.48269 53.82688)
222612 -1.482641  53.826925       terrace  POINT (-1.48264 53.82692)
222613 -1.482592  53.826967       terrace  POINT (-1.48259 53.82697)
222614 -1.451100  53.823696       terrace  POINT (-1.45110 53.82370)

[222615 rows x 4 columns]

#### Manually confirming that the first coordinate in the list is within the Weetwood ward

In [37]:
weetwood_poly = leeds_wards_shapes_gdf.loc[leeds_wards_shapes_gdf['wd20nm'] == "Weetwood"].iloc[0].loc["geometry"]

In [38]:
weetwood_poly

In [39]:
weetwood_poly.contains(gdf_home_list.iloc[0].loc["geometry"])

True

#### Creating df_home_ward_list, same as df_home_list but includes ward_name and ward_code, by checking each Leeds ward polygon to see if it contains the Point defined by the lon/lat of the home.

#### If no Leeds ward contains the Point, then the Point is recorded in a separate dataframe, missing_ward_df.

In [41]:
import time

df_home_ward_list = df_home_list.copy()
df_home_ward_list["ward_name"] = ""
df_home_ward_list["ward_code"] = ""

missing_ward_df = pd.DataFrame(columns=['lon','lat','building_type','ward_name','ward_code'])
print_every = 500

start_time = time.time()
prev_time = time.time()
now_time = time.time()
time_list = []
for home_index, home_row in gdf_home_list.iterrows():
    now_time = time.time()
    time_list.append(now_time-prev_time)
    if home_index % print_every == 0:
        print(f'{home_index}   {missing_ward_df.shape}   {now_time-start_time}')
    prev_time = now_time
    home_pt = home_row["geometry"]
    missing_ward = True
    for ward_index, ward_row in leeds_wards_shapes_gdf.iterrows():
        if ward_row["geometry"].contains(home_pt):
            df_home_ward_list.loc[home_index, "ward_name"] = ward_row["wd20nm"]
            df_home_ward_list.loc[home_index, "ward_code"] = ward_row["wd20cd"]
            missing_ward = False
            break
    if missing_ward:
        still_missing = True
        for other_index, other_row in wards_shapes_gdf.iterrows():
            if other_row["geometry"].contains(home_pt):
                missing_ward_df.loc[home_index] = home_row.append(pd.Series(data={'ward_name':other_row["wd20nm"], 
                                                                                  'ward_code':other_row["wd20cd"]}))
                still_missing = False
        if still_missing:
            missing_ward_df.loc[home_index] = home_row

0   (0, 5)   0.04592633247375488
500   (0, 5)   6.133726596832275
1000   (0, 5)   11.140056848526001
1500   (0, 5)   16.48957061767578
2000   (0, 5)   21.7829909324646
2500   (0, 5)   27.23591184616089
3000   (0, 5)   33.31986403465271
3500   (0, 5)   39.18595600128174
4000   (0, 5)   45.06282997131348
4500   (0, 5)   51.081899881362915
5000   (0, 5)   56.95588731765747
5500   (0, 5)   62.77190279960632
6000   (0, 5)   68.39741206169128
6500   (0, 5)   74.04156064987183
7000   (0, 5)   80.2110116481781
7500   (0, 5)   86.11608242988586
8000   (0, 5)   91.94176006317139
8500   (0, 5)   97.31273627281189
9000   (1, 5)   104.09644150733948
9500   (2, 5)   110.80639338493347
10000   (2, 5)   116.64131116867065
10500   (4, 5)   124.77036881446838
11000   (4, 5)   130.37356996536255
11500   (4, 5)   135.7982964515686
12000   (4, 5)   141.2193250656128
12500   (4, 5)   146.65891218185425
13000   (4, 5)   152.64751863479614
13500   (4, 5)   158.533842086792
14000   (4, 5)   164.54859852790833
14500   (4, 5)   170.56602597236633
15000   (4, 5)   176.3568766117096
15500   (4, 5)   182.27584981918335
16000   (4, 5)   188.14731168746948
16500   (4, 5)   193.27067279815674
17000   (4, 5)   198.72048020362854
17500   (4, 5)   204.32396388053894
18000   (4, 5)   209.1454598903656
18500   (4, 5)   214.63592624664307
19000   (4, 5)   219.47412085533142
19500   (4, 5)   224.32116746902466
20000   (5, 5)   229.97078919410706
20500   (5, 5)   234.79678201675415
21000   (5, 5)   240.6319146156311
21500   (5, 5)   246.46619820594788
22000   (5, 5)   252.21688079833984
22500   (5, 5)   257.789835691452
23000   (5, 5)   263.3237738609314
23500   (5, 5)   268.863333940506
24000   (5, 5)   274.56836700439453
24500   (5, 5)   280.96715450286865
25000   (5, 5)   287.4447145462036
25500   (5, 5)   293.95262265205383
26000   (5, 5)   299.9815754890442
26500   (5, 5)   304.8900043964386
27000   (5, 5)   309.50496006011963
27500   (5, 5)   313.99412417411804
28000   (5, 5)   318.5876829624176
28500   (5, 5)   323.1490032672882
29000   (5, 5)   327.99894165992737
29500   (5, 5)   332.82301688194275
30000   (5, 5)   337.9985303878784
30500   (5, 5)   343.41281604766846
31000   (5, 5)   349.10859632492065
31500   (5, 5)   354.9681055545807
32000   (5, 5)   360.7812638282776
32500   (5, 5)   365.68485617637634
33000   (5, 5)   370.2521069049835
33500   (5, 5)   375.58489441871643
34000   (5, 5)   380.99784874916077
34500   (5, 5)   386.379017829895
35000   (5, 5)   391.75381898880005
35500   (5, 5)   397.2232699394226
36000   (5, 5)   402.4414050579071
36500   (5, 5)   407.39019680023193
37000   (5, 5)   412.79412269592285
37500   (5, 5)   418.18209862709045
38000   (5, 5)   423.56697392463684
38500   (5, 5)   428.9232668876648
39000   (5, 5)   434.3677911758423
39500   (5, 5)   439.7230522632599
40000   (5, 5)   444.8019988536835
40500   (5, 5)   449.71894693374634
41000   (5, 5)   455.32491421699524
41500   (5, 5)   460.52732014656067
42000   (5, 5)   465.5774176120758
42500   (5, 5)   470.67708468437195
43000   (5, 5)   475.8110716342926
43500   (5, 5)   481.087238073349
44000   (5, 5)   486.2491316795349
44500   (5, 5)   491.2993264198303
45000   (5, 5)   496.29891419410706
45500   (5, 5)   501.37451362609863
46000   (5, 5)   506.47494769096375
46500   (5, 5)   511.5719475746155
47000   (5, 5)   516.0522079467773
47500   (5, 5)   520.512946844101
48000   (5, 5)   525.2130217552185
48500   (5, 5)   529.9739892482758
49000   (5, 5)   534.4937908649445
49500   (5, 5)   538.9880409240723
50000   (5, 5)   543.6090319156647
50500   (5, 5)   548.0734190940857
51000   (5, 5)   552.5879168510437
51500   (5, 5)   557.1586010456085
52000   (5, 5)   561.7019648551941
52500   (5, 5)   566.1539843082428
53000   (5, 5)   570.6373579502106
53500   (5, 5)   575.0480988025665
54000   (5, 5)   579.430269241333
54500   (5, 5)   583.8173270225525
55000   (5, 5)   588.2262177467346
55500   (5, 5)   593.2010447978973
56000   (5, 5)   597.6394538879395
56500   (5, 5)   602.3520152568817
57000   (5, 5)   606.90558385849
57500   (5, 5)   611.3584005832672
58000   (5, 5)   615.7887082099915
58500   (5, 5)   621.1610255241394
59000   (5, 5)   626.9990103244781
59500   (5, 5)   632.1824793815613
60000   (5, 5)   638.0717372894287
60500   (5, 5)   643.9210793972015
61000   (5, 5)   649.7119731903076
61500   (5, 5)   655.5329847335815
62000   (5, 5)   661.3380527496338
62500   (5, 5)   667.1790227890015
63000   (5, 5)   673.0201151371002
63500   (5, 5)   678.8929493427277
64000   (5, 5)   684.7240931987762
64500   (5, 5)   690.6040239334106
65000   (5, 5)   696.4589521884918
65500   (5, 5)   702.2689337730408
66000   (5, 5)   708.063069820404
66500   (5, 5)   713.6075971126556
67000   (5, 5)   718.7609856128693
67500   (5, 5)   723.4163913726807
68000   (5, 5)   728.2422749996185
68500   (5, 5)   733.6695365905762
69000   (5, 5)   738.9201858043671
69500   (5, 5)   744.1369216442108
70000   (5, 5)   749.5624237060547
70500   (5, 5)   754.6532838344574
71000   (5, 5)   759.4501714706421
71500   (5, 5)   764.7820031642914
72000   (5, 5)   770.1720128059387
72500   (5, 5)   775.5291986465454
73000   (5, 5)   780.8950905799866
73500   (5, 5)   786.723991394043
74000   (5, 5)   792.9384589195251
74500   (5, 5)   798.9613692760468
75000   (5, 5)   804.9615314006805
75500   (5, 5)   811.0128674507141
76000   (5, 5)   817.1574625968933
76500   (5, 5)   823.1649198532104
77000   (5, 5)   829.1665897369385
77500   (5, 5)   835.120491027832
78000   (5, 5)   840.2631320953369
78500   (5, 5)   847.147465467453
79000   (5, 5)   853.3899376392365
79500   (5, 5)   858.8090515136719
80000   (5, 5)   864.0467472076416
80500   (5, 5)   869.147162437439
81000   (5, 5)   874.4020335674286
81500   (5, 5)   879.2810270786285
82000   (5, 5)   884.7574987411499
82500   (5, 5)   890.5436382293701
83000   (5, 5)   896.4750015735626
83500   (5, 5)   901.3939523696899
84000   (5, 5)   906.5579562187195
84500   (5, 5)   912.0708148479462
85000   (5, 5)   916.6910779476166
85500   (5, 5)   921.9210321903229
86000   (5, 5)   926.7432968616486
86500   (5, 5)   932.4799733161926
87000   (5, 5)   937.2278273105621
87500   (5, 5)   942.5540030002594
88000   (5, 5)   947.9369792938232
88500   (5, 5)   953.6965126991272
89000   (5, 5)   959.5980100631714
89500   (5, 5)   965.5363137722015
90000   (5, 5)   971.3752949237823
90500   (5, 5)   977.0510523319244
91000   (5, 5)   982.848582983017
91500   (5, 5)   988.5030860900879
92000   (5, 5)   994.300948381424
92500   (5, 5)   999.9579977989197
93000   (5, 5)   1005.6400272846222
93500   (5, 5)   1010.9060471057892
94000   (5, 5)   1016.1179864406586
94500   (5, 5)   1021.6501889228821
95000   (5, 5)   1026.9081885814667
95500   (5, 5)   1032.209299325943
96000   (5, 5)   1037.545078754425
96500   (5, 5)   1042.928040266037
97000   (5, 5)   1048.3452968597412
97500   (5, 5)   1053.6910932064056
98000   (5, 5)   1059.1109943389893
98500   (5, 5)   1064.518437385559
99000   (5, 5)   1069.948248386383
99500   (5, 5)   1075.2931270599365
100000   (5, 5)   1080.6329431533813
100500   (5, 5)   1086.0630350112915
101000   (5, 5)   1091.4265613555908
101500   (5, 5)   1096.8531143665314
102000   (5, 5)   1102.3775553703308
102500   (5, 5)   1107.8260643482208
103000   (5, 5)   1113.3442823886871
103500   (5, 5)   1118.900057554245
104000   (5, 5)   1124.3841993808746
104500   (5, 5)   1129.8401327133179
105000   (5, 5)   1135.159066438675
105500   (5, 5)   1140.5219895839691
106000   (5, 5)   1146.198318719864
106500   (5, 5)   1152.025181055069
107000   (5, 5)   1157.5532140731812
107500   (5, 5)   1162.8970272541046
108000   (5, 5)   1168.1431319713593
108500   (5, 5)   1173.4897232055664
109000   (5, 5)   1178.9277098178864
109500   (5, 5)   1184.7939977645874
110000   (5, 5)   1190.7070481777191
110500   (5, 5)   1196.512060880661
111000   (5, 5)   1200.9927108287811
111500   (5, 5)   1205.654062986374
112000   (5, 5)   1210.1218650341034
112500   (5, 5)   1214.6032292842865
113000   (5, 5)   1220.5066771507263
113500   (5, 5)   1226.4944031238556
114000   (5, 5)   1232.3560128211975
114500   (5, 5)   1238.2522041797638
115000   (5, 5)   1244.115942955017
115500   (5, 5)   1250.1389570236206

116000   (5, 5)   1255.9607298374176
116500   (5, 5)   1261.3571043014526
117000   (5, 5)   1266.4079897403717
117500   (5, 5)   1270.8146057128906
118000   (5, 5)   1275.9408297538757
118500   (5, 5)   1280.9179615974426
119000   (5, 5)   1285.8960554599762
119500   (5, 5)   1290.8904585838318
120000   (5, 5)   1295.9784953594208
120500   (5, 5)   1301.2611675262451
121000   (5, 5)   1306.5528111457825
121500   (5, 5)   1311.7933766841888
122000   (5, 5)   1316.8110496997833
122500   (5, 5)   1321.3269982337952
123000   (5, 5)   1325.9701178073883
123500   (5, 5)   1331.855532169342
124000   (5, 5)   1337.395015001297
124500   (5, 5)   1342.6132502555847
125000   (5, 5)   1348.3480243682861
125500   (5, 5)   1353.3700697422028
126000   (5, 5)   1358.2780108451843
126500   (5, 5)   1363.122926235199
127000   (5, 5)   1368.0360524654388
127500   (5, 5)   1373.155038356781
128000   (5, 5)   1378.3780794143677
128500   (5, 5)   1383.7831737995148
129000   (5, 5)   1389.2110714912415
129500   (5, 5)   1393.8813631534576
130000   (5, 5)   1398.385042667389
130500   (5, 5)   1403.1451787948608
131000   (5, 5)   1409.5398528575897
131500   (5, 5)   1415.3039948940277
132000   (5, 5)   1420.7830073833466
132500   (5, 5)   1426.4857983589172
133000   (5, 5)   1431.5951797962189
133500   (5, 5)   1436.6331853866577
134000   (5, 5)   1441.2789614200592
134500   (5, 5)   1446.001430273056
135000   (5, 5)   1450.7616991996765
135500   (5, 5)   1455.4849655628204
136000   (5, 5)   1460.5714750289917
136500   (5, 5)   1465.889080286026
137000   (5, 5)   1471.1990118026733
137500   (5, 5)   1476.5517818927765
138000   (5, 5)   1481.946989774704
138500   (5, 5)   1487.3669364452362
139000   (5, 5)   1492.7480056285858
139500   (5, 5)   1498.024617433548
140000   (5, 5)   1503.543970823288
140500   (5, 5)   1508.5059225559235
141000   (5, 5)   1512.9359860420227
141500   (5, 5)   1518.5169484615326
142000   (5, 5)   1524.667953491211
142500   (5, 5)   1530.4689228534698
143000   (5, 5)   1536.1602189540863
143500   (5, 5)   1541.8526494503021
144000   (5, 5)   1547.5930800437927
144500   (5, 5)   1553.4254202842712
145000   (5, 5)   1558.2680003643036
145500   (5, 5)   1562.987428188324
146000   (5, 5)   1567.8061382770538
146500   (5, 5)   1572.6851797103882
147000   (5, 5)   1577.4519791603088
147500   (5, 5)   1582.4458601474762
148000   (5, 5)   1587.3320062160492
148500   (5, 5)   1591.953807592392
149000   (5, 5)   1596.5062820911407
149500   (5, 5)   1601.079202413559
150000   (5, 5)   1605.9307217597961
150500   (5, 5)   1611.1620693206787
151000   (5, 5)   1616.480426311493
151500   (5, 5)   1621.7180824279785
152000   (5, 5)   1627.1219413280487
152500   (5, 5)   1632.1315441131592
153000   (5, 5)   1637.601667881012
153500   (5, 5)   1643.6788642406464
154000   (5, 5)   1649.666586637497
154500   (5, 5)   1655.465086698532
155000   (5, 5)   1661.1347362995148
155500   (5, 5)   1666.8769578933716
156000   (5, 5)   1672.8569643497467
156500   (5, 5)   1677.9880259037018
157000   (5, 5)   1682.79625248909
157500   (5, 5)   1687.7070217132568
158000   (5, 5)   1692.5173153877258
158500   (5, 5)   1697.2500393390656
159000   (5, 5)   1701.9954824447632
159500   (5, 5)   1706.681789636612
160000   (5, 5)   1711.2974059581757
160500   (5, 5)   1715.8801097869873
161000   (5, 5)   1720.413967370987
161500   (5, 5)   1724.9859879016876
162000   (5, 5)   1729.4483411312103
162500   (5, 5)   1733.8769419193268
163000   (5, 5)   1738.9010834693909
163500   (5, 5)   1744.479970216751
164000   (5, 5)   1750.1308403015137
164500   (5, 5)   1755.1268734931946
165000   (5, 5)   1759.9540379047394
165500   (5, 5)   1764.8240373134613
166000   (5, 5)   1769.5400938987732
166500   (5, 5)   1774.2221097946167
167000   (5, 5)   1778.759078502655
167500   (5, 5)   1783.8696670532227
168000   (5, 5)   1789.5120441913605
168500   (5, 5)   1794.4897871017456
169000   (5, 5)   1798.8850972652435
169500   (5, 5)   1804.1729726791382
170000   (5, 5)   1809.591222524643
170500   (5, 5)   1814.7890980243683
171000   (5, 5)   1819.8590943813324
171500   (5, 5)   1824.9656925201416
172000   (5, 5)   1829.9987587928772
172500   (5, 5)   1834.9740207195282
173000   (5, 5)   1840.574444770813
173500   (5, 5)   1846.2511279582977
174000   (5, 5)   1851.8521769046783
174500   (5, 5)   1857.3050293922424
175000   (5, 5)   1862.5192325115204
175500   (5, 5)   1867.4250457286835
176000   (5, 5)   1872.5139317512512
176500   (5, 5)   1877.681097984314
177000   (5, 5)   1883.0799391269684
177500   (5, 5)   1888.5860395431519
178000   (5, 5)   1894.4500889778137
178500   (5, 5)   1900.10112118721
179000   (5, 5)   1905.7300312519073
179500   (5, 5)   1911.7230231761932
180000   (5, 5)   1917.2789912223816
180500   (5, 5)   1922.8934230804443
181000   (5, 5)   1928.5645315647125
181500   (5, 5)   1933.8453214168549
182000   (5, 5)   1938.6369516849518
182500   (5, 5)   1943.6750457286835
183000   (5, 5)   1948.8852984905243
183500   (5, 5)   1954.1701555252075
184000   (5, 5)   1959.4128334522247
184500   (5, 5)   1964.6290509700775
185000   (5, 5)   1969.858635187149
185500   (5, 5)   1975.1104726791382
186000   (5, 5)   1980.8756597042084
186500   (5, 5)   1986.6335792541504
187000   (5, 5)   1992.2449896335602
187500   (5, 5)   1997.7329852581024
188000   (5, 5)   2003.3292338848114
188500   (5, 5)   2008.791012763977
189000   (5, 5)   2013.6556887626648
189500   (5, 5)   2018.3861968517303
190000   (5, 5)   2023.1361281871796
190500   (5, 5)   2028.1320292949677
191000   (5, 5)   2033.3245224952698
191500   (5, 5)   2038.9028432369232
192000   (5, 5)   2044.786298274994
192500   (5, 5)   2050.4280688762665
193000   (5, 5)   2055.940608739853
193500   (5, 5)   2061.549955368042
194000   (5, 5)   2067.082667827606
194500   (5, 5)   2072.0379934310913
195000   (5, 5)   2076.8591322898865
195500   (5, 5)   2081.683242082596
196000   (5, 5)   2086.420107126236
196500   (5, 5)   2091.199022769928
197000   (5, 5)   2096.0708634853363
197500   (5, 5)   2101.462165117264
198000   (5, 5)   2107.3161401748657
198500   (5, 5)   2112.9829607009888
199000   (5, 5)   2118.7728192806244
199500   (5, 5)   2124.541021823883
200000   (5, 5)   2130.235812664032
200500   (5, 5)   2135.223447561264
201000   (5, 5)   2140.054735183716
201500   (5, 5)   2144.7322192192078
202000   (5, 5)   2150.637745141983
202500   (5, 5)   2156.3751888275146
203000   (5, 5)   2161.688036441803
203500   (5, 5)   2166.7611413002014
204000   (5, 5)   2171.6964597702026
204500   (5, 5)   2176.606976747513
205000   (5, 5)   2181.6627740859985
205500   (5, 5)   2186.5629501342773
206000   (5, 5)   2192.0580389499664
206500   (6, 5)   2198.4079444408417
207000   (6, 5)   2203.4069647789
207500   (6, 5)   2208.959967851639
208000   (6, 5)   2214.694600582123
208500   (6, 5)   2220.3856024742126
209000   (6, 5)   2225.259020805359
209500   (6, 5)   2229.978605747223
210000   (6, 5)   2234.7180993556976
210500   (6, 5)   2240.0156738758087
211000   (6, 5)   2245.674021244049
211500   (6, 5)   2251.6969079971313
212000   (6, 5)   2257.0143728256226
212500   (6, 5)   2262.5313296318054
213000   (6, 5)   2267.764228105545
213500   (6, 5)   2272.8680040836334
214000   (6, 5)   2278.2039742469788
214500   (6, 5)   2283.242367506027
215000   (6, 5)   2288.5330560207367
215500   (6, 5)   2293.9018013477325
216000   (6, 5)   2299.098923921585
216500   (6, 5)   2304.5050315856934
217000   (6, 5)   2309.831129550934
217500   (6, 5)   2314.7763080596924
218000   (6, 5)   2319.4514718055725
218500   (6, 5)   2324.6379778385162
219000   (6, 5)   2329.8220636844635
219500   (6, 5)   2334.620755672455
220000   (6, 5)   2339.703709125519
220500   (6, 5)   2344.7760779857635
221000   (6, 5)   2350.107929944992
221500   (6, 5)   2355.513559103012
222000   (6, 5)   2360.4781222343445
222500   (6, 5)   2365.3891508579254

In [42]:
df_home_ward_list

,lon,lat,building_type,geometry,ward_name,ward_code
0,-1.564636,53.827001,apartments,POINT (-1.56464 53.82700),Weetwood,E05011413
1,-1.550490,53.811813,apartments,POINT (-1.55049 53.81181),Headingley & Hyde Park,E05011397
2,-1.542127,53.781703,apartments,POINT (-1.54213 53.78170),Hunslet & Riverside,E05011399
3,-1.623508,53.800694,apartments,POINT (-1.62351 53.80069),Farnley & Wortley,E05012648
4,-1.615872,53.798921,apartments,POINT (-1.61587 53.79892),Armley,E05011385
...,...,...,...,...,...,...
222610,-1.482881,53.826679,terrace,POINT (-1.48288 53.82668),Killingbeck & Seacroft,E05011400
222611,-1.482691,53.826882,terrace,POINT (-1.48269 53.82688),Killingbeck & Seacroft,E05011400
222612,-1.482641,53.826925,terrace,POINT (-1.48264 53.82692),Killingbeck & Seacroft,E05011400
222613,-1.482592,53.826967,terrace,POINT (-1.48259 53.82697),Killingbeck & Seacroft,E05011400
222614,-1.451100,53.823696,terrace,POINT (-1.45110 53.82370),Cross Gates & Whinmoor,E05011391

In [44]:
missing_ward_df

,lon,lat,building_type,ward_name,ward_code
8835,-1.717432,53.913830,house,Washburn,E05011346
9464,-1.716395,53.916465,house,Washburn,E05011346
10412,-1.694582,53.917262,house,Washburn,E05011346
10448,-1.695385,53.917184,house,Washburn,E05011346
19697,-1.720773,53.864859,house,Baildon,E05001341
206220,-1.409313,53.929750,house,Spofforth with Lower Wharfedale,E05011345

#### Save dataframe with homes and ward info to csv file

In [43]:
leeds_homes_wards_csv_path = "C:/Users/adminuser/Desktop/CDRC/Data/CODIT/leeds_homes_wards_update0309.csv"

leeds_homes_wards_df_nogeo = df_home_ward_list.drop("geometry",axis=1)

leeds_homes_wards_df_nogeo.to_csv(leeds_homes_wards_csv_path, index=False)